<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Message: <b><%= raw(@message) %></b>
    <br />
    Room Number: <b><%= @room %></b>
    <br />
    Submitted by: <b><%= @submitter %></b>

    <p>
      Thank you,<br>the Room Ready team
    </p>
      For further questions, you can email the submitter at <a href="mailto:<%= @submitter + "@umich.edu" %>"><%= @submitter + "@umich.edu" %></a> or call the Room Ready office at: ENTER PHONE NUMBER HERE.
    </p>
  </body>
</html>
