<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @forward_to_lsa_ts_group %>
    </p>
    <p>
      <b>Room Number: </b><%= @room.room_number %>
      <br />
      <b>Building: </b><%= @building.name %>
      <br />
      <b>Submitted by (uniqname): </b><%= @submitter.uniqname %>
      <br />
    </p>
    <p>
      <%= raw(@message) %>
    </p>
    
    <p>
      Thank you,<br> from LSA TS Rover Team
    </p>
  </body>
</html>
