<div class="container-fluid">
  <h1>Admin Dashboard - <%= show_date_with_month_name(Date.today) %></h1>

  <%= turbo_frame_tag 'zones_overview' do %>
    <%= render 'zones_overview' %>
  <% end %>
  <h2>Reports for Last Checks</h2>
  <div class="row m-2">
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-header">
          <p>Rooms were not Accessable</p>
        </div>
        <div class="card-body">
          <%= pie_chart @room_access_data %>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-header">
          <p>Rooms were not Checked</p>
        </div>
        <div class="card-body">
          <%= pie_chart @room_check_in_data %>
        </div>
      </div>
    </div>
  </div>

  <h2>Last Checked Rooms</h2>
  <table class="table table-striped text-center m-4">
    <thead class="table-group-divider">
      <tr>
        <th scope="col" class="text-start">Room Number</th>
        <th scope="col">Building</th>
        <th scope="col">Date and Time</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @last_checked_rooms.each do |room, update_at| %>
        <tr>
          <td class="text-start">
            <%= link_to room.room_number, room_path(room), class: "link_to" %>
          </td>
          <td>
            <%= room.floor.building.name.titleize %>
          </td>
          <td>
            <%= show_date_with_time(update_at) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Recent Room Issues</h2>
  <div class="row m-2">
    <% @latest_room_tickets.each do |ticket| %>
      <div class="mb-2">
        <div class="card">
          <div class="card-header">
            <p>
              <%= ticket.room.room_number %> - <%= ticket.room.floor.building.name.titleize %>
            </p>
          </div>
          <div class="card-body">
            <p class="card-text">Send to: <%= ticket.tdx_email %></p>
            <p class="card-text"><%= ticket.description %></p>
            <p class="card-text">Submitted on: <%= show_date_with_time(ticket.created_at) %> by: <%= ticket.submitted_by %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h2>Daily Resource Update Script</h2>
  <div class="m-2">
    <% if @room_update_log %>
      <%= render 'last_room_update_log', last_room_update_log: @room_update_log %>
    <% end %>
  </div>
</div>
