<p></p>
<div data-controller='autosubmit'>
  <%= form_with(model: announcement) do |form| %>
    <div>
      <div>
        <div>
          <span><%= "Location: #{@announcement.location.gsub('_', ' ').upcase}" %></span>
        </div>

        <div>
          <%= form.label :content %>
          <%= form.rich_text_area :content %>
        </div>
      </div>
    </div>

    <div>
      <div>
        <%= form.submit 'Submit', style: "display: block"%>
        <%= link_to "Cancel", announcements_path, method: :post, class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  <% end %>
</div>
