<p></p>
<div data-controller='autosubmit'>
  <%= form_with(model: announcement) do |form| %>
    <div>
      <div>
        <div>
          <span><%= "Location: #{@announcement.location.gsub('_', ' ').upcase}" %></span>
        </div>

        <div>
          <%= form.label :content, "Content:"%>
          <%= form.rich_text_area :content %>
        </div>
      </div>
    </div>
    <br>
    <div>
      <div>
        <%= form.submit 'Submit'%>
        <%= link_to "Cancel", announcements_path, method: :post, class: "link_to" %>
      </div>
    </div>
  <% end %>
</div>
