<p></p>

<h1>Announcements</h1>
<ul role="list">
    <% @announcements.each do |announcement| %>
      <li>
        <div>
          <%= announcement.location.titleize %> Announcement
        </div>
        <div>
          Last Time Updated: <%= announcement.updated_at %>
        </div>
        <div>
            <%= announcement.content %>
        </div>
        <div>
            <div>
              <%= link_to 'Edit', edit_announcement_path(announcement), class: "relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm rounded-md shadow-sm bg-gray-100 text-black font-medium border border-transparent rounded-bl-lg hover:text-gray-400 ring-1 ring-black ring-opacity-5 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
            </div>
            <div class="-ml-px w-0 flex-1 flex m-2">
              <%= link_to 'Preview', rooms_path if announcement.location == "rooms_page" %>
              <%= link_to 'Preview', app_preferences_path if announcement.location == "preference_page" %>
              <%= link_to 'Preview', static_pages_about_path if announcement.location == "about_page" %>
            </div>
        </div>
      </li>
      <% end %>
  </ul>
