<!-- This is a card for newly created preference that pops up right after submitting -->

<div id="<%= dom_id(app_preference) %>" class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong>Name:</strong> <%= app_preference.name %>
    </li>
    <li class="list-group-item">
      <strong>Description:</strong> <%= app_preference.description %>
    </li>
    <li class="list-group-item">
      <strong>Preference type:</strong> <%= app_preference.pref_type %>
    </li>
    <li class="list-group-item">
      <strong>Value:</strong> <%= app_preference.value %>
    </li>
  </ul>
</div>
