<div id="<%= dom_id app_preference %>">
  <p>
    <strong>Name:</strong>
    <%= app_preference.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= app_preference.description %>
  </p>

  <p>
    <strong>Pref type:</strong>
    <%= app_preference.pref_type %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= app_preference.value %>
  </p>

</div>
