<div class="w-100">

<!--
<p style="color: green"><%= notice %></p>-->

<!--This displays the table of all preferences currently stored in the app-->
<h1>App Preferences</h1>

<div id="app_preferences">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Type</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @app_preferences.each do |app_preference| %>
      <tr>
        <td><%= app_preference.name %></td>
        <td><%= app_preference.description %></td>
        <td><%= app_preference.pref_type %></td>
        <td>
          <%= link_to edit_app_preference_path(app_preference), method: :edit do %>
            <i class="bi bi-pencil-square text-primary"></i>
          <% end %>
        </td>
        <td>
          <%= link_to app_preference_path(app_preference), data: { turbo_confirm: "Are you sure you want to Delete This Preference?" , turbo_method: :delete } do %>
            <i class="bi bi-trash-fill text-danger"></i>
          <% end %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to "New App Preference", new_app_preference_path, method: :post , class: "btn btn-primary"  %>
</div>
