<p style="color: green"><%= notice %></p>

<%= render @app_preference %>

<div>
  <%= link_to "Edit this app preference", edit_app_preference_path(@app_preference) %> |
  <%= link_to "Back to app preferences", app_preferences_path %>

  <div class="col-sm-10">
      <%= button_to "Delete this app preference", @app_preference, method: :delete, class: "btn btn-primary btn-lg" %>
  </div>

</div>
