<div class="container-fluid">
  <div class="mb-3 d-flex flex-row align-items-center justify-content-between">
    <h1>Specific Attributes - <%= @room.room_number %> Room</h1>
    <%= link_to "Back to Room", room_path(@room), class: "link_to" %>
  </div>

  <%= turbo_frame_tag 'new_specific_attribute_form' do %>
    <%= render 'form', specific_attribute: @new_specific_attribute %>
  <% end %>

  <%= render 'show_archived' %>
  <%= render 'specific_attributes_list' %>
    
</div>
