<p style="color: green"><%= notice %></p>

<%= render @specific_attribute %>

<div>
  <%= link_to "Edit this specific attribute", edit_specific_attribute_path(@specific_attribute) %> |
  <%= link_to "Back to specific attributes", specific_attributes_path %>

  <%= button_to "Destroy this specific attribute", @specific_attribute, method: :delete %>
</div>
