<div id="<%= dom_id room_ticket %>">
  <p>
    <strong>Description:</strong>
    <%= room_ticket.description %>
  </p>

  <p>
    <strong>Submitted by:</strong>
    <%= room_ticket.submitted_by %>
  </p>

  <p>
    <strong>Submitted at:</strong>
    <%= room_ticket.submitted_at %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= room_ticket.room_id %>
  </p>

</div>
