<%= form_with(model: specific_attribute) do |form| %>
  <% if specific_attribute.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(specific_attribute.errors.count, "error") %></h2>

      <ul>
        <% specific_attribute.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :need_checkbox, style: "display: block" %>
    <%= form.check_box :need_checkbox %>
  </div>

  <div>
    <%= form.label :need_quantity_box, style: "display: block" %>
    <%= form.check_box :need_quantity_box %>
  </div>

  <div>
    <%= form.label :room_id, style: "display: block" %>
    <%= form.text_field :room_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
