<div id="<%= dom_id specific_attribute %>">
  <p>
    <strong>Description:</strong>
    <%= specific_attribute.description %>
  </p>

  <p>
    <strong>Need checkbox:</strong>
    <%= specific_attribute.need_checkbox %>
  </p>

  <p>
    <strong>Need quantity box:</strong>
    <%= specific_attribute.need_quantity_box %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= specific_attribute.room_id %>
  </p>

</div>
