<%= form_with(model: [@room, room_state], data: { controller: "render" }) do |form| %>
  <% if room_state.errors.any? %>
    <div class="text-danger">
      <h2><%= pluralize(room_state.errors.count, "error") %></h2>
      <ul>
        <% room_state.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-inline-flex gap-1 mt-1 mb-1 p-2 bg-um-blue border rounded">
    <%= form.hidden_field :report_to_supervisor, value: false %>
    <%= form.check_box :report_to_supervisor, class: "form-check-input" %>
    <%= form.label :report_to_supervisor, "Reported to supervisor #{show_supervisor_phone}", class: "form-check-label text-white" %>
  </div>
  <div>
    <div class="py-2">Can you access the room?</div>
  </div>
  <div class="d-flex flex-row mb-1 gap-2">
    <%= form.radio_button :is_accessed, true, class: "btn-check", data: { render_target: "access" }, "data-action" => "change->render#renderNoAccessReasonField", required: true %>
    <%= form.label :is_accessed_true, "Yes", class: "btn btn-outline-success w-50" %>
    <%= form.radio_button :is_accessed, false, class: "btn-check", data: { render_target: "noaccess" }, "data-action" => "change->render#renderNoAccessReasonField" %>
    <%= form.label :is_accessed_false, "No", class: "btn btn-outline-secondary w-50" %>
  </div>

  <div id="no-reason" style="display:none">
    <%= form.label :no_access_reason, "Can not access the room because: ", style: "display: block" %>
    <%= form.select :no_access_reason, options_for_select(@no_access_reasons, selected: @room_state.no_access_reason), { include_blank: "Select Reason"}, { class: "input_text_field", id: "room_state_no_access_reason" } %>
  </div>
  <%= form.hidden_field :checked_by, value: current_user.uniqname %>

  <div>
    <% if action_name == "new" %>
      <%= form.submit "Create Room State" %>
    <% else %>
      <%= form.submit "Update Room State" %>
    <% end %>
    <%= link_to "Cancel", :back, class:"link_to" %>
  </div>

<% end %>
