<%= form_with(model: [@room, room_state], data: { controller: "render" }) do |form| %>
  <% if room_state.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(room_state.errors.count, "error") %></h2>

      <ul>
        <% room_state.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <h3>Checked By: <%= current_user.uniqname %></h3>
  </div>

  <div>
    <%= form.label :report_to_supervisor, "Do you want to send report to supervisor? *"%>
  </div>
  <div class="d-flex flex-row mb-1">
    <%= form.radio_button :report_to_supervisor, true, class: "btn-check", required: true%>
    <%= form.label :report_to_supervisor_true, "Yes", class: "btn btn-outline-success w-50" %>
    <%= form.radio_button :report_to_supervisor, false, class: "btn-check", required: true%>
    <%= form.label :report_to_supervisor_false, "No", class: "btn btn-outline-success w-50" %>
  </div>

    <%= form.label :is_accessed, "Can you access the room? *"%>
  <div class="d-flex flex-row mb-1">
    <%= form.radio_button :is_accessed, true, class: "btn-check", data: { render_target: "access" }, "data-action" => "change->render#renderNoAccessReasonField", required: true%>
    <%= form.label :is_accessed_true, "Yes", class: "btn btn-outline-success w-50" %>
    <%= form.radio_button :is_accessed, false, class: "btn-check", data: { render_target: "noaccess" }, "data-action" => "change->render#renderNoAccessReasonField", required: true%>
    <%= form.label :is_accessed_false, "No", class: "btn btn-outline-success w-50" %>
  </div>

  <div id="no-reason" style="display:none">
    <%= form.label :no_access_reason, "Can not access the room because: ", style: "display: block" %>
    <%= form.select :no_access_reason, options_for_select(@no_access_reasons, selected: @room_state.no_access_reason), { include_blank: "Select Reason" }, { class: "input_text_field" } %>
  </div>

  <div>
    <%= form.submit %>
    <%= link_to "Cancel", :back, class:"text-primary cancel-button" %>
  </div>

<% end %>
