<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Zones", zones_rover_navigation_path %></li>
    <li class="breadcrumb-item"><%= link_to "Buildings", buildings_rover_navigation_path(zone_id: @room.floor.building.zone.id) %></li>
    <li class="breadcrumb-item"><%= link_to "Rooms", rooms_rover_navigation_path(floor_id: @room.floor.id) %></li>
    <li class="breadcrumb-item active" aria-current="page">Begin Check</li>
  </ol>
</nav>
<h1>Begin Room Check for Room <%= @room.room_number %> </h1>
<h3>Location: <%= @room.floor.building.name %> (Floor <%= @room.floor.name %>) </h3>

<% if @rovers_form_announcement.content.present? %>
  <div class="bg-accordion">
    <p>
      <%= @rovers_form_announcement.content %>
    <p>
  </div>
<% end %>

<% if @notes.present? %>
  <div class="bg-accordion">
    <h4>Notes</h4>
    <% @notes.each do |note| %>
      <p>
        <%= note.content %>
        Updated on
        <%= note.updated_at.strftime('%m/%d/%Y') %>
      <p>
    <% end %>
  </div>
<% end %>

<%= render "form", room_state: @room_state, user: @user %>
