<nav class="navbar navbar-expand-lg navbar-dark bg-um-blue">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <%= link_to root_path, class: "a-nav" do %>
      <div id="LSAlogo">
        <div class="navbar-brand"><%= image_tag 'LSA_Logo.svg', alt: 'LSA Logo' %></div>
        <span class="nav-title">
          Room Ready
        </span>
      </div>
    <% end %>
    <% if user_signed_in? && policy(:static_page).home? %>
      <%= link_to "Home", home_path %>
      <%= link_to "Rovers", rovers_path%>
      <%= link_to "Zones", zones_path %>
    <% end %>
    <% if user_signed_in? && policy(CommonAttribute).index? %>
      <%= link_to "Common Attributes", common_attributes_path %>
    <% end %>

    <% if user_signed_in? && policy(:static_page).home? %>

      <li class="nav-item dropdown" style="list-style: none; border: none; outline: none;">
        <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown"  style="color: white; ">
          App Preferences
        </a>
        <ul class="dropdown-menu" >
          <li><%= link_to "Preferences List", app_preferences_path, class: 'dropdown-item' %></li>
          <li><%= link_to "Preferences Instances", configure_prefs_path, class: 'dropdown-item' %></li>
        </ul>
      </li>
    <% end %>

    <div class="">
      <div class="d-flex align-items-center bg-um-blue">
        <% if user_signed_in? %>
          <div class="text-white body-sm-text pb-1">Welcome <%= current_user.display_name.split[0] %></div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
