<nav class="navbar navbar-expand-lg navbar-dark bg-um-blue">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <%= link_to root_path, class: "a-nav" do %>
      <div id="LSAlogo">
        <div class="navbar-brand"><%= image_tag 'LSA_Logo.svg', alt: 'LSA Logo' %></div>
        <span class="nav-title">
          Room Ready
        </span>
      </div>
    <% end %>

    <div class="">
      <div class="d-flex align-items-center">
        <% if user_signed_in? %>
          <div>
            <div class="body-sm-text pb-1">Welcome <%= current_user.display_name.split[0] %></div>
            <%= button_to destroy_user_session_path, method: :delete, data: {turbo: "false"} do %>
              <span class="sign_button body-md-text">Log Out</span>
            <% end %>
          </div>
        <% else %> 
          <div>
            <div class="body-sm-text pb-1">&nbsp;</div>
            <%= button_to user_saml_omniauth_authorize_path, data: {turbo: "false"} do %>
              <div class="sign_button body-md-text">Sign In</div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>