<p style="color: green"><%= notice %></p>

<%= render @common_attribute %>

<div>
  <%= link_to "Edit this common attribute", edit_common_attribute_path(@common_attribute) %> |
  <%= link_to "Back to common attributes", common_attributes_path %>

  <%= button_to "Destroy this common attribute", @common_attribute, method: :delete %>
</div>
