<div id="<%= dom_id building %>">

  <p>
    <strong>Building Record Number:</strong>
    <%= building.bldrecnbr %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= building.name %>
  </p>

  <p>
    <strong>Nick name:</strong>
    <%= building.nick_name %>
  </p>
  
  <p>
    <strong>Address:</strong>
    <%= "#{building.address}, #{building.city}, #{building.state} #{building.zip}"%>
  </p>
  
  <p>
    <strong>Zone:</strong>
    <%= show_zone(building) %>
  </p>

</div>
