<div id="<%= dom_id building %>">

  <p>
    <strong>Building Record Number:</strong>
    <%= building.bldrecnbr %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= building.name %>
  </p>
  
  <p>
    <strong>Address:</strong>
    <%= "#{building.address}, #{building.city}, #{building.state} #{building.zip}"%>
  </p>

<%= form_with model: [building], data: { controller: "building" } do |form| %>
  <% if building.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(building.errors.count, "error") %></h2>

      <ul>
        <% building.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nick_name, style: "display: block" %>
    <%= form.text_field :nick_name, data: { building_target: "nickName" } %>
  </div>

  <div>
    <%= form.label :zone_id, style: "display: block" %>
    <%= form.select(:zone_id, options_for_select(@zones, building.zone ? building.zone.id : nil ), { include_blank: "Select ..." } ) %>
  </div>

  <% if @zone.present? %>
    <%= hidden_field_tag :zone_id, @zone.id %>
  <% end %>


  <div class="d-flex flex-row justify-content-start align-items-center gap-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
    <%= link_to "Cancel", :back, class: "text-primary cancel-button" %>
  </div>
<% end %>
