<%= form_with model: building do |form| %>
  <% if building.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(building.errors.count, "error") %></h2>
      <ul>
        <% building.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :bldrecnbr, style: "display: block" %>
    <%= form.text_field :bldrecnbr, required: true %>
  </div>

  <% if @zone.present? %>
    <%= form.hidden_field :zone_id, value: @zone.id %>
  <% end %>

  <div class="d-flex flex-row justify-content-start align-items-center gap-3">
    <%= form.submit %>
    <% if @zone.present? %>
      <%= link_to "Cancel", zone_buildings_path(@zone.id) %>
    <% else %>
      <%= link_to "Cancel", buildings_path %>
    <% end %>
  </div>
<% end %>
