<p style="color: green"><%= notice %></p>



<div class="container-fluid" id="buildings">
  <div class="d-flex justify-content-between">
      <h1>Zone <%= @zone_id %> Buildings</h1>
      <%= link_to "Add Building", new_zone_building_path(@zone_id), class: "btn btn-primary h-50 mt-auto mb-auto" %>
    </div>
  <div class="row">
    <% @buildings.each do |building| %>
      <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title handle-text-overflow"><%= render building %></h5>
          <%= link_to "Show Full Details", zone_building_path(@zone_id, building) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
