<div class="container-fluid" id="buildings">
  <div class="d-flex justify-content-between">
    <h1>Buildings</h1>
    <div class="mb-auto mt-auto">
      <%= link_to "Add Building", new_building_path, class: "btn btn-primary" %>
    </div>
    </div>
    <%= form_with url: buildings_path, method: :get, class: "", 
      data: { 
        controller: "autosubmit", 
        autosubmit_target: "form", 
        turbo_frame: "all_buildings" 
      } do |form| %>
      <div>
        <%= form.text_field :search, placeholder: "Search by Name, Nick Name, Address, or Record Number", value: @search_query, data: { action: "input->autosubmit#search" } %>
      </div>
      <div>
        <label for="zone_id" class="fancy_label">Select a Zone</label>
        <%= form.select "zone_id", options_for_select(@zones, selected: params[:zone_id]), {include_blank: "All Zones"}, { :"data-action" => "change->autosubmit#submitForm" } %>
      </div>
    <% end %>
    <h3>
      <%= if @zone.nil? then nil else @zone.name end %> Buildings (<%= @buildings.count %>)
    </h3>
    <%= render "listing" %>
  </div>
</div>
