<%= form_with(model: room_ticket) do |form| %>
  <% if room_ticket.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(room_ticket.errors.count, "error") %> prohibited this room_ticket from being saved:</h2>

      <ul>
        <% room_ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :submitted_by, style: "display: block" %>
    <%= form.text_field :submitted_by %>
  </div>

  <div>
    <%= form.label :submitted_at, style: "display: block" %>
    <%= form.datetime_field :submitted_at %>
  </div>

  <div>
    <%= form.label :room_id, style: "display: block" %>
    <%= form.text_field :room_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
