<%= turbo_frame_tag 'new_room' do %>  
  <%= form_with model: @room do |form| %>
    <% if room.errors.any? %>
      <div class="text-danger">
        <h2><%= pluralize(room.errors.count, "error") %></h2>

        <ul>
          <% room.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= form.label :rmrecnbr, 'Room Record Number (Barcode) *', class: "nowrap" %>
      <%= form.text_field :rmrecnbr, required: true %>
    </div>

    <%= hidden_field_tag 'building_id', @building.id %>

    <div class="d-flex flex-row justify-content-start align-items-center gap-3">
      <%= form.submit "Create Room", class: "btn btn-primary", data: { turbo_frame: "_top" } %>
      <%= link_to 'Cancel', building_path(@building), data: { turbo_frame: "_top" } %>
    </div>
  <% end %>
<% end %>
