<div id="<%= dom_id room %>">
  <p>
    <strong>Rmrecnbr:</strong>
    <%= room.rmrecnbr %>
  </p>

  <p>
    <strong>Room number:</strong>
    <%= room.room_number %>
  </p>

  <p>
    <strong>Room type:</strong>
    <%= room.room_type %>
  </p>

  <p>
    <strong>Facility:</strong>
    <%= room.facility_id %>
  </p>

  <p>
    <strong>Floor:</strong>
    <%= room.floor_id %>
  </p>

</div>
