<%= render @room %>

<div>
  <%= link_to "Edit this room", edit_room_path(@room) %> |
  <%= link_to "Back to rooms", rooms_path %>

  <%= button_to "Destroy this room", @room, method: :delete %>
</div>

<div class="py-3 w-50">
  <div class="mb-3 d-flex flex-row align-items-center justify-content-between">
    <h2>Specific Attributes</h2>
    <%= link_to room_specific_attributes_path(@room),class: 'text-primary' do %>
      Edit Specific Attributes<i class="bi bi-pencil-square text-primary"></i>
    <% end %>
  </div>
  <%= render 'specific_attributes_list', specific_attributes: @room.specific_attributes %>
</div>
