<div class="py-3">
  <div class="d-flex flex-row justify-content-between align-items-center mb-3">
    <h1>Room: <%= @room.full_name  %></h1>
    <div class="d-flex flex-column gap-1">
      <%= link_to 'Back to Building', building_path(@room.floor.building), class: "link_to" %>
    </div>
  </div>

  <%= render @room %>

  <div class="py-3 w-50">
    <div class="d-flex flex-row align-items-center justify-content-between">
      <h2>Common Attributes</h2>
      <%= link_to common_attributes_path, class: 'text-primary link-underline-primary link-underline-opacity-0 link-underline-opacity-100-hover' do %>
        Edit Common Attributes <i class="bi bi-pencil-square text-primary"></i>
      <% end %>
    </div>
    <%= render 'attributes_list', attributes: @common_attributes %>
  </div>

  <div class="py-3 w-50">
    <div class="d-flex flex-row align-items-center justify-content-between">
      <h2>Specific Attributes</h2>
      <%= link_to room_specific_attributes_path(@room), class: 'text-primary link-underline-primary link-underline-opacity-0 link-underline-opacity-100-hover' do %>
        Edit Specific Attributes <i class="bi bi-pencil-square text-primary"></i>
      <% end %>
    </div>
    <%= render 'attributes_list', attributes: @room.active_specific_attributes %>
  </div>

  <div class="py-3 w-50">
    <div class="d-flex flex-row align-items-center justify-content-between">
      <h2>Resources</h2>
    </div>
    <%= render 'resources_list', resources: @room.active_resources %>
  </div>

  <% if is_admin? %>
    <div class="">
      <h2>Notes:</h2>
      <%= turbo_frame_tag "new_note" do %>
        <%= render "notes/form", note: @new_note %>
      <% end %>
      <div class="notes" id="notes">
        <%= render @notes %>
      </div>
    </div>
  <% end %>

  <div>
    <%= link_to 'Show Room State', room_room_states_path(@room), class: 'btn btn-secondary' %>
  </div>
</div>
