<div id="<%= dom_id building %>">

  <p>
    <strong>Name:</strong>
    <%= building.name %>(<%= building.bldrecnbr %>), <%= building.nick_name %>, <%= building.zone.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= "#{building.address}, #{building.city}, #{building.state} #{building.zip}"%>
  </p>

</div>
