<div class="container-fluid" id="buildings">
  <div class="d-flex justify-content-between">
      <h1><%= @zone_name %> Buildings</h1>
      <div class="mb-auto mt-auto">
        <%= link_to "Back to Zone", zone_path(@zone), class: "btn btn-secondary" %>
        <%= link_to "Add Building", new_zone_building_path, class: "btn btn-primary" %>
      </div>
    </div>
    <%= render "drop_down_list", building: @building %>
    <br>
    <%= render "listing" %>
</div>
