<%= form_with(model: resource_state) do |form| %>
  <% if resource_state.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(resource_state.errors.count, "error") %> prohibited this resource_state from being saved:</h2>

      <ul>
        <% resource_state.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :is_checked, style: "display: block" %>
    <%= form.check_box :is_checked %>
  </div>

  <div>
    <%= form.label :room_state_id, style: "display: block" %>
    <%= form.text_field :room_state_id %>
  </div>

  <div>
    <%= form.label :resource_id, style: "display: block" %>
    <%= form.text_field :resource_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
