<%= form_with(model: @resource_state, remote: true) do |form| %>

   <%= hidden_field_tag :room_id, @room.id %>

   <%= form.hidden_field :resource_id, value: resource.id %>

   <%= form.hidden_field :room_state_id, value: @room_state.id %>


   <p>Here is the form for </p> 
   <%= resource.name %> 
   <%= resource.resource_type %> 

   <%= form.label :is_checked, style: "display: block" %>
   <%= form.check_box :is_checked %>

   <%= form.submit "Submit", class: "btn btn-primary" %>

 <% end %>
