<div id="<%= dom_id resource_state %>">
  <p>
    <strong>Status:</strong>
    <%= resource_state.status %>
  </p>

  <p>
    <strong>Is checked:</strong>
    <%= resource_state.is_checked %>
  </p>

  <p>
    <strong>Room state:</strong>
    <%= resource_state.room_state_id %>
  </p>

  <p>
    <strong>Resource:</strong>
    <%= resource_state.resource_id %>
  </p>

</div>
