<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Zones", zones_rover_navigation_path, class: 'link_to' %></li>
    <li class="breadcrumb-item"><%= link_to "Buildings", buildings_rover_navigation_path(zone_id: @room.floor.building.zone.id), class: 'link_to' %></li>
    <li class="breadcrumb-item"><%= link_to "Rooms", rooms_rover_navigation_path(floor_id: @room.floor.id), class: 'link_to' %></li>
    <li class="breadcrumb-item"><%= link_to "Begin Check", edit_room_room_state_path(@room, RoomStatus.new(@room).room_state_today.id), class: 'link_to' %></li>
    <% if CommonAttribute.active.present?  %>
      <li class="breadcrumb-item"><%= link_to "Common Questions", edit_common_attribute_state_path(id: @room_state.id, room_state_id: @room_state.id), class: 'link_to' %></li>
    <% end %>
    <% if @room.active_specific_attributes.present? %>
      <li class="breadcrumb-item"><%= link_to "Specific Questions", edit_specific_attribute_state_path(id: @room_state.id, room_state_id: @room_state.id), class: 'link_to' %></li>
    <% end %>
    <li class="breadcrumb-item active" aria-current="page">Resources</li>
  </ol>
</nav>

<h1>Resources Questions</h1>

<h2><%= @room.floor.building.zone ? "#{@room.floor.building.zone.name}" : ''  %></h2>
 <h2><%= @room.floor.building.name %> (Floor <%= @room.floor.name %>)</h2>
 <h2><%= "Room: #{@room.room_number}" %></h2>

<div data-controller='hideelement'>
  <a class="link_to mb-1 d-block d-md-none" data-hideelement-target="more_button" data-action="hideelement#showElement">
    Show Announcement
    <i class="bi bi-caret-up-fill"></i>
  </a>
  <a class="link_to mb-1 d-none d-md-none" data-hideelement-target="less_button" data-action="hideelement#hideElement">
    Hide Announcement
    <i class="bi bi-caret-down-fill"></i>
  </a>
  <div class="d-none d-md-block" data-hideelement-target="hide_section">
    <% if @resource_form_announcement.content.present? %>
      <div class="bg-accordion">
        <p><%= @resource_form_announcement.content %></p>
      </div>
    <% end %>
  </div>
</div>

<%= render 'rover_navigations/form_progress_bar', room: @room %>
<%= render 'shared/tdxtickets' %>
<%= render 'form' %>
