<div class="mt-3"></div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Zones", zones_rover_navigation_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Buildings</li>
  </ol>
</nav>

<h1>Buildings for Zone: <%= @zone.name %></h1>

<%= form_with url: buildings_rover_navigation_path, method: :get, local: true do |form| %>
  <%= form.hidden_field :zone_id, value: @zone.id %>
  <%= form.text_field :search, value: params[:search], placeholder: "Enter name, address, state, or zip", aria: { label: "search" } %>
  <%= form.submit "Search" %>
  <%= link_to 'Clear Filter', buildings_rover_navigation_path(zone_id: @zone.id), class: 'text-primary cancel-button' %>
<% end %>

<% @buildings.each_with_index do |building, i| %>
  <div class="card mt-3">
    <h5 class="card-header">
      <%= building.name %>
    </h5>
    <div class="card-body">
      <p class="card-text">
        <%= building.full_address %>
      </p>
      <div class="dropdown border-0">
        <button class="btn btn-primary dropdown-toggle" type="button" id="floorDropdownButton<%= i %>" data-bs-toggle="dropdown" aria-expanded="false">
          Select Floor
        </button>
        <ul class="dropdown-menu" aria-labelledby="floorDropdownButton<%= i %>">
          <% building.floors.order(:name).each do |floor| %>
            <li><%= link_to "Floor #{floor.name}", rooms_rover_navigation_path(floor_id: floor.id), class: "dropdown-item btn-primary" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
