<%= turbo_frame_tag 'new_rover' do %>  
  <%= form_with(model: rover, data: { controller: "autosubmit", autosubmit_target: "form" }) do |form| %>
    <% if rover.errors.any? %>
      <div class="text-danger">
        <p class="h3-title"><%= pluralize(rover.errors.count, "error") %></p>
        <ul>
          <% rover.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= form.label :uniqname, "Create Rover by Uniqname:", class: "nowrap" %>
      <div class="d-flex flex-row justify-content-start align-items-center gap-3">
        <%= form.text_field :uniqname, placeholder: "Uniqname", class: "w-50" %>
        <%= form.submit "Create" %>
      </div>
    </div>
  <% end %>
<% end %>
