<%= turbo_frame_tag 'rovers' do %>  
  <div id="rovers">
  <% if @rovers.empty? %>
    No Rovers found
  <% else %>
    <table class="table text-center">
      <thead class="table-group-divider">
        <tr>
          <th>Uniqname</th>
          <th>First name</th>
          <th>Last name</th>
          <td>View</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% @rovers.each do |rover| %>
          <tr class="rover_tbody_tr">
            <td class="rover_tbody_td">
              <%= rover.uniqname %>
            </td>
            <td class="rover_tbody_td">
              <%= rover.first_name %>
            </td>
            <td class="rover_tbody_td">
              <%= rover.last_name %>
            </td>
            <td class="rover_tbody_td">
              <%= link_to rover_path(rover), data: { turbo_frame: "_top" } do%>
              <i class="bi bi-eye-fill text-primary"></i>
              <%end%>
            </td>
            <td class="rover_tbody_td">
              <%= link_to edit_rover_path(rover), data: { turbo_frame: "_top" } do%>
              <i class="bi bi-pencil-square text-primary"></i>
              <%end%>
            </td>
            <td class="rover_tbody_td">
              <%= link_to rover_path(rover), data: { turbo_confirm: 'Are you sure you want to delete this rover?', turbo_method: :delete} do %>
              <i class="bi bi-trash-fill text-danger"></i>
              <%end%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%end%>
  </div>
<% end %>
