<h1>Editing rover</h1>

<%= form_with(model: rover=@rover) do |form| %>
  <% if rover.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rover.errors.count, "error") %> prohibited this rover from being saved:</h2>

      <ul>
        <% rover.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <div>Rover Uniqname:</div>
    <div><%= rover.uniqname %></div>
  </div>
  <div>
    <%= form.label :first_name, "First Name:", style: "display: block"%>
    <%= form.text_field :first_name %>
  </div>
  <div>
    <%= form.label :last_name, "Last Name:", style: "display: block"%>
    <%= form.text_field :last_name %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to rovers", rovers_path %>
</div>
