<p></p>
<h1>Editing Rover</h1>

<%= form_with(model: rover=@rover) do |form| %>
  <% if rover.errors.any? %>
    <div class="text-danger">
      <p class="h3-title"><%= pluralize(rover.errors.count, "error") %></p>
      <ul>
        <% rover.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <strong>Uniqname:</strong>
    <%= rover.uniqname %>
  </p>
  <div>
    <%= form.label :first_name, "First Name:", class: "nowrap" %>
    <%= form.text_field :first_name %>
  </div>
  <div>
    <%= form.label :last_name, "Last Name:", class: "nowrap" %>
    <%= form.text_field :last_name %>
  </div>
  <div class="d-flex flex-row justify-content-start align-items-center gap-3">
    <%= form.submit "Update" %>
    <%= link_to "Cancel", rovers_path, class: "link_to" %>
  </div>
<% end %>
