<p></p>
<h1>Rover List</h1>
<div id="search bar">
  <%= form_with url: rovers_path, method: :get, local: true,
  data: { 
        controller: "autosubmit", 
        autosubmit_target: "form",
        turbo_frame: "rovers"
      } do |form| %>
    <%= form.label :search, "Search Rover by Name or Uniqname:", style: "display: block"%>
    <div class="d-flex flex-row justify-content-start align-items-center gap-3">
    <%= form.text_field :search, value: params[:search], placeholder: "Name or Uniqname", class: "w-50", data: { action: "input->autosubmit#search" } %>
    <a class="link_to" data-action="autosubmit#clearFilters">
          Clear Filters
    </a>
    </div>
  <% end %>
</div>

<div>
  <%= render "form", rover: @rover %>
</div>
<div class="mt-2">
  <%= render "listing" %>
</div>
