<p style="color: green"><%= notice %></p>

<%= render @rover %>

<div>
  <%= link_to "Edit this rover", edit_rover_path(@rover) %> |
  <%= link_to "Back to rovers", rovers_path %>

  <%= button_to "Destroy this rover", @rover, method: :delete %>
</div>
