<div id="<%= dom_id common_attribute_state %>">
  <p>
    <strong>Checkbox value:</strong>
    <%= common_attribute_state.checkbox_value %>
  </p>

  <p>
    <strong>Quantity box value:</strong>
    <%= common_attribute_state.quantity_box_value %>
  </p>

  <p>
    <strong>Room state:</strong>
    <%= common_attribute_state.room_state_id %>
  </p>

  <p>
    <strong>Common attribute:</strong>
    <%= common_attribute_state.common_attribute_id %>
  </p>

</div>
