<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Zones", zones_rover_navigation_path %></li>
    <li class="breadcrumb-item"><%= link_to "Buildings", buildings_rover_navigation_path(zone_id: @room.floor.building.zone.id), class: "link_to" %></li>
    <li class="breadcrumb-item"><%= link_to "Rooms", rooms_rover_navigation_path(floor_id: @room.floor.id), class: "link_to" %></li>
    <li class="breadcrumb-item"><%= link_to "Begin Check", edit_room_room_state_path(@room, RoomStatus.new(@room).room_state_today.id), class: "link_to" %></li>
    <li class="breadcrumb-item active" aria-current="page">Common Questions</li>
  </ol>
</nav>

<h1>Editing Common Room Questions</h1>

<h2><%= @room.floor.building.zone ? "Zone: #{@room.floor.building.zone.name}" : ''  %></h2>
<h2><%= "Building: #{@room.floor.building.name}" %> (Floor <%= @room.floor.name %>)</h2>
<h2><%= "Room: #{@room.room_number}" %></h2>

<%= render 'rover_navigations/form_progress_bar', room: @room %>
<%= render 'shared/tdxtickets' %>
<%= render 'edit_form', room_state_id: @room_state.id %>
