<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Zones", zones_rover_navigation_path %></li>
    <li class="breadcrumb-item"><%= link_to "Buildings", buildings_rover_navigation_path(zone_id: @room.floor.building.zone.id) %></li>
    <li class="breadcrumb-item"><%= link_to "Rooms", rooms_rover_navigation_path(floor_id: @room.floor.id) %></li>
    <li class="breadcrumb-item"><%= link_to "Begin Check", edit_room_room_state_path(@room, RoomStatus.new(@room).room_state_today.id) %></li>
    <li class="breadcrumb-item active" aria-current="page">Common Questions</li>
  </ol>
</nav>

<h1>Common Room Questions</h1>

<h2><%= @room.floor.building.zone ? "Zone: #{@room.floor.building.zone.name}" : ''  %></h2>
<h2><%= "Building: #{@room.floor.building.name}" %> (Floor <%= @room.floor.name %>)</h2>
<h2><%= "Room: #{@room.room_number}" %></h2>

<div data-controller='hiding-element'>
  <button class="btn btn-primary mb-1 d-block d-md-none" data-hiding-element-target="more_button" data-action="hiding-element#showElement">
    Show Announcement
  </button>
  <button class="btn btn-primary mb-1 d-block d-md-none" data-hiding-element-target="less_button" data-action="hiding-element#hideElement">
    Hide Announcement
  </button>
  <div class="d-none d-md-block" data-hiding-element-target="hide_section">
    <% if @common_form_announcement.content.present? %>
      <div class="bg-accordion">
        <p><%= @common_form_announcement.content %></p>
      </div>
    <% end %>
  </div>
</div>

<%= render 'rover_navigations/form_progress_bar', room: @room %>
<%= render 'shared/tdxtickets' %>
<%= render 'form' %>
