<% @metrics && @metrics.each do |description, value| %>
  <h3><%= "#{description}: #{value}" %></h3>
<% end %>

<% if !@data %>
  <h3>No data found</h3>
<% elsif @grouped %>
  <% @data.each do |group, pivot_table| %>
    <h4><%= group %></h4>
    <table class="table text-center table-striped mt-4">
      <thead class="table-group-divider">
      <tr>
        <% @headers.each do |header| %>
          <th scope="col"><%= header %></th>
        <% end %>
      </tr>
      </thead>
      <tbody class="table-group-divider">
        <% pivot_table.each do |keys, record| %>
          <tr>
            <% keys.each do |key| %>
              <td><%= key %></td>
            <% end %>
            <% @date_headers.each do |date| %>
              <td class="text-center <%= record[date] == 'Yes' ? 'bg-success' : (record[date] == 'No'? 'bg-danger' : '' ) %>
              ">
                <%= record[date] %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
  <table class="table text-center table-striped mt-4">
    <thead class="table-group-divider">
    <tr>
      <% @headers.each do |header| %>
        <th scope="col"><%= header %></th>
      <% end %>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <% @data.each do |row| %>
      <tr>
        <% row.each do |cell| %>
          <td><%= cell %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

