<div class="d-flex flex-row align-items-center justify-content-between">
  <h1>No Access for Several Last Checks</h1>
  <%= link_to 'Back to Reports', reports_path, class: "link_to" %>
</div>
<h6>
  This report shows information on Rooms that were not able to be accessed during several last checks.
</h6>

<div class="py-3">
  <%= render 'filter_form', report_url: no_access_for_n_days_report_reports_path do |form| %>
    <div class="d-flex flex-row justify-content-start align-items-center gap-3" >
      <%= form.label :number, @number_label, class: 'form-label' %>
      <%= form.number_field :number, value: params[:number] || 1, class: "form-control form-control-sm" %>
    </div>
  <% end %>

  <% if params[:commit] && params[:format] == 'html' %>
    <%= render 'reports_table' %>
  <% end %>
</div>
