<div class="d-flex flex-row align-items-center justify-content-between">
  <h1>Resource States Report</h1>
  <%= link_to 'Back to Reports', reports_path, class: "link_to" %>
</div>
<h6>This report shows the repsonses to the Resource Questions in the Rover form.</h6>

<div class="py-3">
  <!-- turning off turbo for the form is necessary - otherwise the browser doesn't download the csv properly -->
  <%= form_with url: resource_states_report_reports_path, method: :get, data: { turbo: false }, class: "mb-3" do |form| %>
    <div>
      <label for="zone_id" class="">Select a Zone</label>
      <%= form.select :zone_id, options_for_select(@zones, selected: params[:zone_id]), {include_blank: "All Zones"}, class: "form-select" %>
      <div class="d-flex flex-row justify-content-start align-items-center gap-3">
        <%= form.label :from, "From: "%>
        <%= form.date_field :from, value: params[:from], class: "form-control" %>
        <%= form.label :to, "To: "%>
        <%= form.date_field :to, value: params[:to], class: "form-control" %>
      </div>
      <%= form.label :resource_type, 'Select a Resource Type', class: 'form-label' %>
      <%= form.select :resource_type, options_for_select(@resource_types, selected: params[:resource_type]), {include_blank: "All Resource Types"}, class: "form-select" %>
      <div class="d-flex flex-row justify-content-start align-items-center">
        <%= form.label :format, "Report Type: ", class: "form-label" %>
        <%= form.select :format, options_for_select([["Display in Browser", "html"], ["Export to CSV", "csv"]],
                                                    selected: params[:format]), {}, class: "form-select" %>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-start align-items-center gap-3">
      <%= form.submit "Run Report" %>
      <%= link_to "Clear filters", resource_states_report_reports_path, class: "text-primary cancel-button" %>
    </div>
  <% end %>
  <% if params[:commit] && params[:format] == 'html' %>
    <%= render 'reports_table' %>
  <% end %>
</div>
