<div class="d-flex flex-row align-items-center justify-content-between">
  <h1>Resource States Report</h1>
  <%= link_to 'Back to Reports', reports_path, class: "link_to" %>
</div>
<h6>This report shows the repsonses to the Resource Questions in the Rover form.</h6>

<div class="py-3">
  <%= render 'filter_form', report_url: resource_states_report_reports_path do |form| %>
    <div class="d-flex flex-row justify-content-start align-items-center gap-3" >
      <%= form.label :resource_type, 'Select a Resource Type: ', class: 'form-label' %>
      <%= form.select :resource_type, options_for_select(@resource_types, selected: params[:resource_type]), {include_blank: "All Resource Types"}, class: "form-select" %>
    </div>
  <% end %>

  <% if params[:commit] && params[:format] == 'html' %>
    <%= render 'reports_table' %>
  <% end %>
</div>
