<h1>Room Issues Reports</h1>
<h6>This report shows information on Room Issues (TDx Tickets)</h6>

<div class="px-5 py-3">
    <%= form_with url: room_issues_report_reports_path, method: :get do |form| %>
      <div>
        <label for="zone_id" class="fancy_label">Select a Zone</label>
        <%= form.select :zone_id, options_for_select(@zones, selected: params[:zone_id]), {include_blank: "All Zones"} %>
        <div class="d-flex flex-row justify-content-start align-items-center gap-3">
          <%= form.label :from, "From: "%>
          <%= form.date_field :from, value: params[:from], class: "form-control" %>
          <%= form.label :to, "To: "%>
          <%= form.date_field :to, value: params[:to], class: "form-control" %>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-start align-items-center gap-3">
        <%= form.submit "Preview" %>
        <%= link_to "Clear filters", room_issues_report_reports_path %>
      </div>
    <% end %>
  <table class="table text-center mt-4">
    <thead class="table-group-divider">
    <tr>
      <th scope="col" class="text-start">Room</th>
      <th scope="col">Building</th>
      <th scope="col">Zone</th>
      <th scope="col"># Issues</th>
    </tr>
    </thead>
    <tbody class="table-group-divider" id="common_attributes">
      <% @rooms.each do |room| %>
        <tr>
          <td class="text-start"><%= room.room_number %></td>
          <td><%= room.floor.building.name %></td>
          <td>
            <% unless room.floor.building.zone.nil? %>
              <%= room.floor.building.zone.name %>
            <% else %>
              No Zone
            <% end %>
          </td>
          <td>
              <%= room.tickets_count %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h2>Total number of issues submitted: <%= @total_tickets_count %></h2>
</div>