<%= form_with url: specific_attribute_states_path, method: :post do %>
  <%= hidden_field_tag :room_id, @room.id %>

  <% @specific_attribute_states.each_with_index do |specific_attribute_state, index| %>
    <%= fields_for "specific_attribute_states[#{index}]", specific_attribute_state do |f| %>
      <div>
        <% if specific_attribute_state.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(specific_attribute_state.errors.count, "error") %></h2>

            <ul>
              <% specific_attribute_state.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="card w-100 mb-3">
          <div class="card-body p-4">
            <h5 class="card-title mb-3"><%= specific_attribute_state.specific_attribute.description %></h5>
            <% if specific_attribute_state.specific_attribute.need_checkbox %>
              <div class="d-flex flex-row mb-1">
                <%= f.radio_button :checkbox_value, true, class: "btn-check", required: true %>
                <%= f.label :checkbox_value_true, "Yes", class: "btn btn-outline-success w-50" %>
                <%= f.radio_button :checkbox_value, false, class: "btn-check", required: true %>
                <%= f.label :checkbox_value_false, "No", class: "btn btn-outline-success w-50" %>
              </div>
            <% end %>
            <% if specific_attribute_state.specific_attribute.need_quantity_box %>
              <div>
                <%= f.number_field :quantity_box_value, class: "form-control form-control-sm", required: true %>
              </div>
            <% end %>
          </div>
        </div>

        <%= f.hidden_field :specific_attribute_id, value: specific_attribute_state.specific_attribute_id %>
      </div>
    <% end %>
  <% end %>

  <div class="d-flex flex-row justify-content-between align-items-center">
    <%= link_to @room, class: "text-primary link-underline-primary link-underline-opacity-0 link-underline-opacity-100-hover" do %>
      <i class="bi bi-arrow-left-circle-fill"></i>
      Back to Room
    <% end %>
    <%= submit_tag "Save Response" %>
  </div>
<% end %>
