<div id="<%= dom_id specific_attribute_state %>">
  <p>
    <strong>Checkbox value:</strong>
    <%= specific_attribute_state.checkbox_value %>
  </p>

  <p>
    <strong>Quantity box value:</strong>
    <%= specific_attribute_state.quantity_box_value %>
  </p>

  <p>
    <strong>Room state:</strong>
    <%= specific_attribute_state.room_state_id %>
  </p>

  <p>
    <strong>Specific attribute:</strong>
    <%= specific_attribute_state.specific_attribute_id %>
  </p>

</div>
