<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Room Ready</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <main class="container mx-auto px-4 px-sm-8 pb-5">
      <div id="flash">
        <%= render "layouts/flash" %>
      </div>
      <div>
      <%= yield %>
      </div>
    </main>
    <%= render partial: "shared/footer" %>
  </body>
</html>
